.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.title {
  color: #000000;
  border-bottom: 1px solid #cccccc;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
  margin: 0 auto 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

.menuList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.menu {
  width: 33.3333%;
}

.menuBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.menuIcon {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
}

.menuIcon > img {
  width: 100%;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuTitle {
  width: 100%;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: left;
  margin: 10px 0;
}

.menuText {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  margin: 10px 0;
}

@media (max-width: 992px) {
  .menu {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 100%;
    margin-bottom: 2rem;
  }

  .menuBox {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: 0.8;
  }
}
